.App {
  text-align: center;
}

.App-logo {
  height: 60px;
  pointer-events: none;
}

.App-logo2{
  height: 150px;
  top: -40px;
  position: relative;


}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

nav {
  background-color: rgb(165, 1, 1);
  line-height: 40px;
  font-size: 20px;
  border-radius: 5px;
}

nav a{
  text-decoration: none;
  color: white;
  margin-right: 20px;
  padding: 5px;
}

nav a:hover{
  background-color: white;
  color: red;
  font-weight: 600;
  text-decoration: none;
  border: 1px solid rgb(73, 0, 0);
  border-radius: 5px;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.App-header h3 {
  margin-top: -50px;
  color: red;
  font-weight: bold;
  text-shadow: 2px 2px #000000;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.top-margin{
  margin-top: 10px;
}